#cart-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: blue;
  color: white;
  height: 20px;
  width: 20px;
  top: -2px;
  left: 35px;
  font-weight: 500;
  border: none;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

#navbar {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 10;
}
